<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749646056782-2626b8qcjtfs68vqomk1hu0lfffurn42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749646056782-2626b8qcjtfs68vqomk1hu0lfffurn42</string>
	<key>API_KEY</key>
	<string>AIzaSyCsslYZ_9Y37DeoQLbCHKmbNbGaY8l8V8I</string>
	<key>GCM_SENDER_ID</key>
	<string>749646056782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.piypmiruApp</string>
	<key>PROJECT_ID</key>
	<string>piyomiru-54705</string>
	<key>STORAGE_BUCKET</key>
	<string>piyomiru-54705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749646056782:ios:d50518b37b132ba8cba21f</string>
</dict>
</plist>